<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/detail.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <%- include('nav.ejs') %>
    <div class="detail-bg">
        <h4>게시물 아이디 : <%= result._id %>
        </h4>
        <h4>제목 : <%= result.title %>
        </h4>
        <p>내용 : <%= result.content %>
        </p>
        <a href="/edit/<%= result._id %>">수정하기✏️</a>
    </div>
</body>

</html>